<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>501942568707-j2el4tdgsk9dthu4c5cqhg1t3daou6re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501942568707-j2el4tdgsk9dthu4c5cqhg1t3daou6re</string>
	<key>API_KEY</key>
	<string>AIzaSyCwvT3c-hqE7q2z0e4sJAwUk_bYeLzpCu0</string>
	<key>GCM_SENDER_ID</key>
	<string>501942568707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AwesomeCityTrips.Awesome-City-Trips</string>
	<key>PROJECT_ID</key>
	<string>awesomecitytrips</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomecitytrips.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501942568707:ios:dc7fc53a1e8810b9</string>
	<key>DATABASE_URL</key>
	<string>https://awesomecitytrips.firebaseio.com</string>
</dict>
</plist>